*{
    margin: 0;
    padding: 0;
}
.grilla{
    display: grid;
    grid-template-columns: repeat(2, 50vw);
    grid-template-areas: 
    "video parrafo"
    "parrafo2 video2";
    grid-template-rows: repeat(2, 650px);
    align-items: center;
    justify-items: center;
    background-color: rgb(39, 39, 39);
}
.parrafo{
    grid-area: parrafo;
    margin: 100px;
    font-size: 20px;
    color: white;
}

.video{
    grid-area: video;
}
.video2{
    grid-area: video2;
}
.parrafo2{
    grid-area: parrafo2;
    margin: 100px;
    font-size: 20px;
    color: white;
}
.pri{
    margin: 30px;
}
.par{
    margin: 30px;
}
.menu{
    display: flex;
}
.logo{
    display: flex;
    height: 200px;
    width: auto;
    background-color: red;
}
.nav{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: red;
    display: flex;
    position: sticky;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    list-style-type: none;

}
.nav a{
    text-decoration: none;
    color: yellow;
}
footer{
    background-color: black;
    color: white;
    font-size: 15px;
    text-align: center;
}
.body{
    background-color: rgb(39, 39, 39);
}
.main{
    display: flex;
    height: 80vh;
    flex-wrap: wrap;
    align-content: center;
}
#carouselExample{
    min-width: 800px;
}
.cajita{
    margin: 20px;
    padding: 20px;
    display: flex;
    max-width: auto;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.contenido{
    margin: 20px;
    color: white;
    justify-content: flex-start;
    max-width: 800px;
    padding-right: 20px;
}
@media (min-width: 800px) and (max-width: 1325px){
    .grilla{
        background-color: rgb(39, 39, 39);
        display: flex;
        flex-direction: column;
        padding: 30px;
    }
    .nav{
        font-size: 20px;
    }
    .carousel-item{
        max-width: 450px;
    }
    .main{
        max-width: 450px;
    }
    .contenido{
        font-size: 20px;
    }
}
@media (max-width: 800px){
    .nav{
        font-size: 15px;
    }
    .grilla{
        display: flex;
        background-color: rgb(39, 39, 39);
        flex-direction: column;
        padding: 20px;
    }
    .carousel-item{
        max-width: 300px;
    }
    .carousel-inner{
        max-width: 300px;
    }
}